/* Faz aplicação global de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variaveis que podem ser usadas em todo documento */
/* Ativo somente no Dark mode */

:root {
  --bg-url: url(../img/wallpaer.jpg);
  --text-color: #fff;
  --stroke-color: rgba(255, 0, 0, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --switch-btn-url: url(../img/MoonStars.svg);
  --highlight-color: rgba(255, 255, 255, 0.3);
}

/* class para criar o modo light */
.light {
  --bg-url: url(../img/white.jpg);
  --text-color: #fff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(0, 0, 0, 0.5);
  --surface-color-hover: rgba(0, 0, 0, 0.5);
  --switch-btn-url: url(../img/handle.svg);
  --highlight-color: rgba(0, 0, 0, 0.3);
}

body {
  /* Puxa um foto para ser usada como background*/
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
  color: var(--text-color);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

#perfil {
  display: flex;
  flex-direction: column;
  /* Alinha os items */
  align-items: center;
}
#perfil img {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  border: 4px solid var(--stroke-color);
  object-fit: cover;
}

#perfil p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

/* botao */
#botao {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#botao button {
  background: var(--surface-color);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background: #fff var(--switch-btn-url) no-repeat center;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  animation: slide-out 0.2s;
}

.light #botao button {
  animation: slide-in 0.2s forwards;
}

#botao button:hover {
  outline: 8px solid var(--surface-color-hover);
  transition: all 0.2s;
}

#botao span {
  background: var(--surface-color);
  display: block;
  /* Cria um bloco */
  width: 54px;
  height: 24px;
  /* Cria uma forma */
  border: 1px solid var(--stroke-color);
  border-radius: 24px;
  /* Coloca uma borda e arredonda as bordas */

  /* Adiciona um desfoque ao fundo */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

#links ul li a {
  display: flex;
  /* deixar uma na frente do outro bonitinho */
  align-items: center;
  /* Centraliza  */
  justify-content: center;
  /* Justifica o conteudo */
  padding: 16px 24px;
  /* Espaço interno */
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  background: var(--surface-color);
  text-decoration: none;
  font-weight: bold;
  /* Estilo/peso da fonte */
  color: var(--text-color);
  /* Cor da fonte */
}

#links ul li a:hover {
  /* Quando o mouse passa por cima */
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

#redesSocial {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 16px;
  font-size: 24px;
}

#redesSocial a {
  text-decoration: none;
  color: var(--switch-btn-url);
}

#footer {
  text-align: center;
  font-size: 14px;
  padding: 24px;
}

#footer a {
  text-decoration: none;
  color: var(--switch-btn-url);
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
